<table class="table expediciontable">
    <tr>
        <td><h3>Expedicion with Idregistro: {{expedicion.idregistro}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Idregistro</td>
        <td>{{expedicion.idregistro}}</td>
    </tr>
    <tr>
        <td>Matricula</td>
        <td>{{expedicion.matricula}}</td>
    </tr>
    <tr>
        <td>Mercancia</td>
        <td>{{expedicion.mercancia}}</td>
    </tr>
    <tr>
        <td>Precinto</td>
        <td>{{expedicion.precinto}}</td>
    </tr>
    <tr>
        <td>Previsto</td>
        <td>{{expedicion.dPrev}}</td>
    </tr>
    <tr>
        <td>Registrado</td>
        <td>{{expedicion.dReg}}</td>
    </tr>
    <tr>
        <td>Aut. Entrada</td>
        <td>{{expedicion.dAutEnt}}</td>
    </tr>
    <tr>
        <td>Entrada</td>
        <td>{{expedicion.dEnt}}</td>
    </tr>    
    <tr>
        <td>Aut. Salida</td>
        <td>{{expedicion.dAutSal}}</td>
    </tr>
    <tr>
        <td>Salida</td>
        <td>{{expedicion.dSal}}</td>
    </tr>
    <tr>
        <td>Mins. Fuera</td>
        <td>{{expedicion.minsFuera}}</td>
    </tr>
    <tr>
        <td>Mins. Dentro</td>
        <td>{{expedicion.minsDentro}}</td>
    </tr>
    <tr>
        <td>Mins. Visita</td>
        <td>{{expedicion.minsVisita}}</td>
    </tr>
                
</table>
<!-- 
<div>
    <a class="btn btn-primary" ui-sref="editExpedicion({id:expedicion.idregistro})">Edit</a>
</div>
-->
