<table class="table expediciontable">
    <tr>
        <td><h3>Recepcion with Idregistro: {{recepcion.idregistro}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Idregistro</td>
        <td>{{recepcion.idregistro}}</td>
    </tr>
    <tr>
        <td>Matricula</td>
        <td>{{recepcion.matricula}}</td>
    </tr>
    <tr>
        <td>Mercancia</td>
        <td>{{recepcion.mercancia}}</td>
    </tr>
    <tr>
        <td>Empresa</td>
        <td>{{recepcion.empresa}}</td>
    </tr>
    <tr>
        <td>Previsto</td>
        <td>{{recepcion.dPrev}}</td>
    </tr>
    <tr>
        <td>Registrado</td>
        <td>{{recepcion.dReg}}</td>
    </tr>
    <tr>
        <td>Aut. Entrada</td>
        <td>{{recepcion.dAutEnt}}</td>
    </tr>
    <tr>
        <td>Entrada</td>
        <td>{{recepcion.dEnt}}</td>
    </tr>    
    <tr>
        <td>Aut. Salida</td>
        <td>{{recepcion.dAutSal}}</td>
    </tr>
    <tr>
        <td>Salida</td>
        <td>{{recepcion.dSal}}</td>
    </tr>
    <tr>
        <td>Mins. Fuera</td>
        <td>{{recepcion.minsFuera}}</td>
    </tr>
    <tr>
        <td>Mins. Dentro</td>
        <td>{{recepcion.minsDentro}}</td>
    </tr>
    <tr>
        <td>Mins. Visita</td>
        <td>{{recepcion.minsVisita}}</td>
    </tr>                
                
</table>
<!-- 
<div>
    <a class="btn btn-primary" ui-sref="editRecepcion({id:recepcion.idregistro})">Edit</a>
</div>
 -->
